@charset "utf-8";
// 头部
 .header{
        width: 1308px;
        height: 204px;
        background:#fff;
        margin: 0;
        border-bottom:2px solid #931a3e;
        .top{
        width: 1308px;
        height: 40px;
        background:#fafafa;
        margin: 0; 
        border:1px solid #e0e0e0;
        .top_nav{
        .top_nav_l{
            float:left;
            width: 250px;
            ul li{
            height: 40px;
            float:left;
            margin-right: 10px;
            font-size:14px;
            color:#8c8c8c;
            line-height: 40px;
            text-align:center;
            a{
             color:#8c8c8c;   
            }
            a:hover{
            color:red;
            text-decoration:underline;
            }
            .Registration{
             background:#94193f;
             width: 230px;
             height: 30px;
             position:absolute;
             top:40px;
             left:335px;
             line-height: 30px;
            text-align:center;
            color:#fff;
            font-size:14px;
            a{
            color:#fff;
                
            }
            a:hover{
            text-decoration:none;
            }
            }
            .Registration::before,.Registration::after{
            content:'';
            position:absolute;top:-10px;left:15px;
            border:5px solid transparent;
            border-bottom-color:#94193f;
            }
            }
       .btn1{
        margin-left: 10px;
        height: 20px;
        line-height: 20px;
        text-align:center;
        text-decoration:underline;

       }
       .yhml{
        padding-top: 10px;
        width: 250px;
        height: 30px;
        font-size:14px;
        color:#8c8c8c;
       }
        }
        .top_nav_r{
            float:right;
            width: 520px;
            ul li{
            height: 20px;
            float:left;
            margin-right: 3px;
            font-size:12px;
            padding-top:10px;
            padding-bottom: 10px;
            line-height: 20px;
            color:#8c8c8c; 
            a{
            display:block;
            color:#8c8c8c; 
            width: 68px; 
            line-height: 20px;
            text-align:center;
            height: 20px;
            border-right:1px solid #dfdfdf;
            }
            a:hover{
          color:red;
          text-decoration:underline;
             }
           .kf{
             border:none;
            }
            .xz{
             width: 100px;
             border-right:1px solid #dfdfdf;
             text-align:center;
            }
            .customer{
                height: 6px;
                width: 10px;
                margin-left: 5px;
                display: inline-block;
                background: url(../img/icon_list.png) no-repeat -157px -696px;
                
            }

             .iphone{
            width: 102px;
            line-height: 20px;
            text-align:center;
            height: 20px;
            border-right:1px solid #dfdfdf;
            }
            .last{
            width: 68px;
            height: 20px;
            background:#fff;
            position:absolute;
            top:40px;
            left:-8px;
            display:none;
            z-index:60;
            a{
            border:none;
            display:block;
            color:#8c8c8c; 
            width: 68px; 
            line-height: 20px;
            text-align:center;
            height: 20px;
            }
            a:hover{
          color:red;
          text-decoration:underline;
             }
            }
            }
           .down{
            position:relative;
            .down_load{
                width: 130px;
                height: 130px;
                display:none;
                position:absolute;
                top:45px;
                left:0;
                z-index:10;
                background:red;
            }
            }
            .lastli{
             position:relative;

            }
            .lastli:hover .last{
             display:block;
             z-index:10;
            }
            .lastli:hover{
                background:#fff;
            }
        }
       
    }
  }
  .header_center{
    width: 100%;
    background:#fff;
    margin-top: 30px;
    .header_cen{
        height: 75px;
        .logo{
            width: 72px;
            height: 68px;
            background:url(../img/logo.jpg) no-repeat;
        float:left;  
        }
        .dd{
            width: 440px;
            height:29px;
            background:url(../img/top_center1.jpg) no-repeat;
            float:left;
           margin-right: 10px;
           margin-top: 20px;
           margin-left: 5px;
        }
        .search{
            width: 360px;
            height: 75px;
            float:left;
        .search_input{
        height: 40px;
        border:3px solid #94193f;
        .ss{
          width: 300px;
          float:left;
          height: 20px;
          margin-top: 10px;
          margin-bottom: 10px;

        }
        .btn_search{
         float: right;
          width: 45px;
          margin-left: 8px;
          height: 40px;
          line-height:40px;
          text-align:center;
          font-size:18px;
          color:#fff;
          background:#94193f;
        }

        }
        .keyword{
        width: 360px;
        margin-top: 5px;
        .keyword_ul{
        height: 30px;
         li{
            float:left;
            margin-right: 5px;
        a{
        display:block;
        color:#8c8c8c;   
        font-size:12px;
        }
        a:hover{
            color:red;
           }
         }
        }
       }
      }
    .header_r{
    width: 102px;
    height: 40px;
    margin-left: 8px;
    float:left;
    background:#f9f9f9;
    border:1px solid #d8d8d8;
    position:relative;
    a{
     display:block;
     width: 102px;
     height: 20px;
     padding-top:13px;
     padding-bottom: 10px;
    
.shoppingcart{
      display:inline-block;
      background: url(../img/icon_list.png) no-repeat -184px -736px;
    width: 21px;
    height: 15px;
    line-height:15px;
    float:left;
    }
    .smalltp{
      display:inline-block;
      background: url(../img/icon_list.png) no-repeat -270px -737px;
    height: 11px;
    width: 13px;
    margin-top: 4px;
    margin-left: 5px;
    float:left;
    }
    .wz{
        display:inline-block;
        width: 60px;
        height: 15px;
        font-size:12px;
        line-height:15px;
        color:#666666;
        float:left;
     
    }
    .i_car_num {
    position: absolute;
    top: -4px;
    right: 20px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background-color: #94193f;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 12px;
    } 
   } 
    
   .gwc{
     position:absolute;
     left:-190px;
     background:#f9f9f9;
     width: 350px;
     z-index:60;
     display:none;
     .xgwc{
    max-height: 300px;
    overflow-y: auto;
    padding-left: 10px;
    li{
     width: 100%;
    overflow: hidden;
    border-bottom: 1px dashed #cccccc;
    padding: 5px 0;
    img{
    width: 49px;
    height: 49px;
    border: 1px solid #e7e7e7;
    float:left;
    } 
    h4{
    float:left;
    padding: 0 10px;
    width: 130px;
    line-height: 1.4em;
    height: 4.2em;
    overflow: hidden;
    color: #434343;
    text-align:left;
    font-size:12px;
     }
    }
    .price{
      float:left;
      width: 80px;
      height: 20px;
    }
    .btn-close{
      width: 30px;
      margin-left: 5px;
    }
    }
    .spshu{
      width: 350px;
      height: 60px;
      .sp1{
        display:inline-block;
        width: 80px;
        height: 30px;
        line-height:30px;
        text-align:center;
        font-size:12px;
        color:#000;
        .sp2{
          width: 50px;
        }
      }
      .zj{
        display:inline-block;
        width: 80px;
        height: 30px;
        line-height:30px;
        text-align:center;
        font-size:12px;
        color:#000;
       .sp3{
          width: 50px;
        } 
      }
      .sp4{
        width: 150px;
        margin-left: 20px;
        background:#94193f;
        display:inline-block;
        inline-height:40px;
        height: 20px;
        line-height:20px;
        text-align:center;
        font-size:12px;
        color:#fff;
        margin-top: 15px;
      }
    }
   }
   a:hover .gwc{
    display:block;
   }
   }
  
  }
  
}
.header_f{
    width: 100%;
    height: 40px;
    margin-top: 17px;
    .f_c{
        height: 40px;
     ul li{
        float:left;
        height: 40px;
        width: 124px;
        background:#fff;
        text-align:center;
       line-height:40px;
       a{
     color:#303030;
       }
     }
     ul li:nth-child(1){
    width: 215px;
    background:#94193f;
    
    a{
      color:#fff;  
    }
     }
      ul li:nth-child(2){
        a{
        color:#94193f;
        font-weight: bold;    
        }
        
      }
     ul li:nth-child(2),ul li:nth-child(3){
    width: 122px;
    background:#fff;
     }
ul li:nth-child(3),ul li:nth-child(4),ul li:nth-child(5){
    a:hover{
        color:#94193f; 
    }

}
     .tv{
        position:relative;
        .hot{
        position:absolute;
        right:0px;
        top: -15px;;
        }
     }
     .classify{
       position:relative; 
       .xjt{
    background: url(../img/icon_list.png) no-repeat -36px -128px;
    height: 8px;
    width: 16px;
    position: absolute;
    right: 16px;
    top: 19px;
       }
     }
    }

}
}
//头部end
//内容部分
.content{
    width: 1200px;
    margin: 0 auto;
    height: 2187px;
}
.c_t{
    width: 1200px;
    height: 57px;
    line-height: 57px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    span{
    color: #666666;
    font-size: 14px;
    padding: 0 8px;
    }
}
.c_c{
    width: 1200px;
    height: 2007px;
    .c_header{
    width: 1200px;
    background-color:#fbfbfb;
    border: 1px solid #e4e4e4;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    .h_1{
    color: #94193f;
    font-size:12px;
    float:left;
    padding-right: 0px;
    text-align: center;
    width: 86px;
    border-right: 1px solid #e4e4e4;
    margin-right: 10px;
    background-color: #fff;
   }
   .px{
    float:left;
    padding-left: 20px;
    li{
    float:left;
    text-align: center;
    padding-right: 30px;
    a{
        color:#999999;
        font-size:12px;
    .icon_t{
    background: url(../img/icon_list.png) repeat scroll -89px -688px;
    display: inline-block;
    height: 11px;
    margin-left: 3px;
    vertical-align: middle;
    width: 11px;
     }  
    }
    .icon_p{
          background: url(../img/icon_list.png) repeat scroll -157px -652px;
    display: inline-block;
    height: 13px;
    margin-left: 4px;
    vertical-align: middle;
    width: 11px;
    }
    }
}
  .tv{
    width: 69px;
    height: 42px;
    float:left;
    .c_tv{
    float:left;
    margin-top: 15px;
    }
    .tv_ms{
     float:left;
     width: 52px;
     height: 40px;
     text-align:center;
     line-height:40px;
     font-size:12px;
    }
}
.c_r{
    width: 279px;
    height: 40px;
    float:right;
    font-size:12px;
    .c_r_l{
    width: 177px;
    height:40px;
    float:left;
    .spgs{
        width: 95px;
        height: 40px;
        float:left;
        padding-left: 5px;
    }
    .sp_r{
     float:left;
     color: #c41f3a;
    }
    }
    .s_x{
    float:left;
    width:102px;
    height: 40px;
    font-size:12px;
    li{
        width: 40px;
        float:left;
        height: 40px;
        line-height:40px;
        text-align:center;
        margin-right: 8px;

    }
    }

}
   }
    }
.sp_con{
width:1200px;
 .splb{
    width: 1200px;

    li{
    border: 1px solid #e4e4e4;
    width: 291px;
    height: 367px;
    float:left;
    margin-left: 6px;
    margin-bottom: 10px;
        img{
            width: 270px;
            height: 270px;
        }
    }
    h4{
        width: 280px;
        height: 30px;
        margin-top: 40px;
        font-size:12px;
        margin-left: 10px;
    }
}
 .price{
    width: 120px;
    height: 30px;
    float:left;
    text-align:center;
    line-height:30px;
    font-size:16px;
    margin-left: 10px;
     span{
    color:#ae193f;
    margin-left: 10px;  
} 
 }
.price span::before{
            content:'￥';
        }
    .xj{
     width: 120px;
    height: 30px;
    float:left; 
    text-align:center;
    line-height:30px;
    font-size:12px; 
    margin-left: 10px; 
    }

}
.sp_ff{
  width: 357px;
  height: 44px;
  margin: 20px auto;  
  ul{
  width: 357px;
  height: 44px;
  li{
    float:left;
    width: 42px;
    height: 42px;
     margin-left: 8px;
     line-height:42px;
     text-align:center;
     color:#262626;
     border:1px solid #cccccc;
  } 
  li:nth-child(1),li:nth-child(5){
    width: 80px;
    height: 40px;
  }
  li:nth-child(2){
    border:1px solid #fff;
  }
  li:hover{
    border:1px solid red; 
  }
  }
}
//内容部分end
//尾部
 .footer{
    width: 100%;
    height: 599px;
    background:#fff;
    .f_contents{
        margin-bottom: 25px;
    .footer_tp{
        margin-top: 10px;
        width: 1000px;
        height: 139px;
        border-bottom:1px solid #999;
        img{
        width: 1000px;
        height: 139px;   
        }
    }
    .footer_sm{
  width: 1000px;
  height: 192px;
  padding-top: 40px;
  .sm_l{
    width: 760px;
    height: 119px;
    float:left;
    dl{
    padding: 0 47px 0 40px;
    float:left;
    font-size:12px;
    color:#656565;
    dt{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    }
  }
  .sm_r{
    float:right;
    width: 240px;
    height: 152px;
   ul li{
    float:left;
    width: 115px;
    height: 152px;
    margin-left: 5px;
    h2{
    width: 115px;
    text-align:center;
    font-size:14px;
    color:#000;
    margin-bottom: 10px;
    }
    p{
    font-size:12px;
    color:#666666;
    }
   }


  }
 }
    }
 .f_nav{
    width: 1349px;
    height: 40px;
    border-bottom:5px solid #a90202;
  ul{
    width: 720px;
    height: 36px;
    margin-left:410px;
    li{
        height: 35px;
        float:left;
        margin-left:10px;
     a{
       text-align:center;
        color:#666; 
        display:block;
         line-height:35px;
         font-size:12px;
     } 
    }
    .li1{
     width: 104px;
     a{
        
        width: 104px;
       
        
     }
    }
      .li2{
     width: 92px;
     a{
        
        width: 92px;
       
        
     }
    }
      .li3{
     width: 104px;
     a{
        
        width: 104px;
       
        
     }
    }
      .li4{
     width: 80px;
     a{
        
        width: 80px;
       
        
     }
    }
      .li5{
     width: 60px;
     a{
        
        width: 60px;
       
        
     }
    }
  }
 }
 .footer_bottom{
  width: 1349px;
  height: 183px;
  background:#f3f3f3;
  .f_p1{
  margin: 0 auto;
   width: 830px;
   height: 64px;
   font-size:12px;
   color:#666;
   padding-left: 100px;
   padding-right: 70px;
   line-height:30px;
   a{
    color:#666;
   }
   .f_a1{
    color:#666;
    margin-left: 50px;
   }
  }
  .f_p2{
 width: 600px;
 height: 119px;
 padding-left: 400px;
 margin-top: 20px;
 a{
    display:inline-block;
    img{
    width: 110px;
    height: 40px;  
    }
 }
  }
 }
 }
//尾部分end
//网页右部分
.webpage_r{
  width: 40px;
  height: 100%;
  position:fixed;
  right:0;
  top: 0;
  background:#444851;
  z-index:60;
  .w_con{
   width: 40px;
   height: 570px;
   padding-top: 30px;
   a:hover{
     background:#982247;
     color:#fff;
    }
   .top1{
    width: 40px;
    height: 73px;
    border-bottom:1px solid #2d2e32;
    a{
      display: block;  
      width: 40px;
      height: 56px;
      color:#fff;
      font-size:12px;
      .icon_user{
    display: block;
    background: url(../img/icon_list.png) -190px -413px;
    width: 30px;
    height: 23px;
    margin: 0;
    } 
    span{
      width: 39px;
      height: 23px;
      display:block;
      line-height:23px;
      text-align:center;  
    } 
    }
    
   }
   .top2{
    width: 40px;
    height: 130px;
    border-bottom:1px solid #2d2e32;
    padding-top: 12px;
    a{
     display:block;
     width: 40px;
     height: 125px;
     color:#fff;
     font-size:12px;
    .icon_car{
    display: block;
    background: url(../img/icon_list.png) -76px 0;
    width: 40px;
    height: 25px;
    text-align: center;
    }
    p{
   width: 17px;
    padding: 0 11px;
    color: #fff;
    font-size:12px;
    text-align:center;
    }  
   .car_num{
    color: #fff;
    background: url(../img/icon_list.png) -84px -65px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin: 14px 9px 0 9px
   }
    }
   }
   .top3{
    width: 40px;
    height: 54px;
    a{
    display:block;
    width: 40px;
    height: 44px;
    padding-top: 10px;
    color:#fff;
    font-size:12px;
    .icon_collect{
    display: block;
    background: url(../img/icon_list.png) -83px -188px;
    width: 22px;
    height: 21px;
    margin: 0 9px;
    }
    span{
    width: 39px;
      height: 23px;
      display:block;
      line-height:23px;
      text-align:center; 
    }
    }
   }
   .top4{
    width: 39px;
    height: 42px;
    margin-top: 70px;
    position:relative;
    a{
    display:block;
    width: 34px;
    height: 42px;
    padding-top: 5px;
    .t_tp{
    display: block;
    background: url(../img/icon_list.png) -170px 0;
    width: 20px;
    height: 20px;
    margin:5px;
    }
    }
    .btp{
    display:none;
    position:absolute;
    right: 41px;
    bottom:-48px;
    border-radius: 5px;
    color: #000;
    height: 271px;
    padding: 10px;
    text-align: center;
    width: 173px;
    }
    .btp::before,.btp::after{
            content:'';
        position:absolute;
        top:212px;
        left:193px;
        border:10px solid transparent;
        border-left-color:#fe4a37;
            }
   }
   .hove_a{
    background:#982247;
   }
   .top5{
    width: 39px;
    height: 42px;
    margin-top: 40px;
    position:relative;
    a{
        display:block;
        width: 33px;
        height: 42px;
        padding-top: 6px;
        .top_ll{
    display: block;
    background: url(../img/icon_list.png) -170px -58px;
    width: 22px;
    height: 32px;
    margin: 5px;  
        }
    }
    .top5_sm{
    width: 240px;
    color: #444851;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #f2f2f2;
    padding-bottom: 15px;
    position:absolute;
    bottom:-38px;
    right: 40px;
    font-size:12px;
    display:none;
    .t_p05{
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
    cursor: default;
    }
    .online {
    background-color: #fbfcfd;
    width: 100%;
    overflow: hidden;
    padding: 5px 0 8px 0;
       a{
    display: block;
    width: 120px;
    text-align: center;
    float:left;
    height: 25px;
    line-height: 25px;
    color: #444851;
    }  
    }
    }
   }
    .top5:hover .top5_sm{
    display:block;
   }
   .top6{
    width: 39px;
    height: 57px;
    margin-top: 50px;
    .gk{
     display: block;
     width: 39px;
    height: 47px;
    padding-top: 10px;
    color:#fff;
    font-size:12px;
      .top_f{
    display: block;
    background: url(../img/icon_list.png) -83px -252px;
    width: 19px;
    height: 19px;
    margin: 5px 10px;
    }  
    .t_p6{
    width: 39px;
    height: 18px;
   text-align:center;
    line-height:18px;
    }
    }
   }
}
}